---
import DownloadButton from "../components/DownloadButton.astro";
import FileInput from "../components/FileInput.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Zomboid Log Cleaner</title>
	</head>
	<body>
		
		<h1>Zomboid RP Log Cleaner</h1>
		Input your [timestamp]_client chat [username].txt file and enter in the names of characters present, delimited with commas. For example, "John, Michael, Stacy" <br><br>
		Then hit 'Clean and Download!' to get the cleaned file.<br><br>

		<FileInput/>			
	</body>
</html>
