Character Names:<br>
<input class="charNames" type="text" placeholder="John, Michael, Stacy">
<br><br>
<input class="fileInput" type="file">
<button class="processAndDownload">Clean and Download!</button>

<script>
    const fileInput = document.querySelector('.fileInput');
    const processButton = document.querySelector('.processAndDownload');
    const charNamesInput = document.querySelector('input.charNames');

    // Handle clicks on each button.
    fileInput.addEventListener('change', handleFileChange);
    processButton.addEventListener('click', processAndDownload);

    let originalContent = ''; // Variable to store original file content

    function handleFileChange(event) {
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onload = (e) => {
            originalContent = e.target.result;
            console.log("Original file content:", originalContent);
        };

        reader.readAsText(file);
    }

    function processAndDownload() {
        if (originalContent) {
            // Get character names from input and store in array
            const charNames = charNamesInput.value.split(',').map(name => name.trim());

            // Create regex pattern to match any of the character names
            const charNamesPattern = charNames.join('|');
            console.log("Character names:", charNamesPattern);

            // Use regex to strip timestamp from each line
            let modifiedContent = originalContent
                .replace(/^\[\d{2}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d{3}\]\[info\] /gm, '')
                .replace(/^.*is typing\.\.\..*\r?\n?/gm, '')
                .replace(new RegExp(`^.*(?=${charNamesPattern})`, "gm"), '');

            console.log("Modified content:", modifiedContent);

            const blob = new Blob([modifiedContent], { type: 'text/plain' });
            const url = URL.createObjectURL(blob);

            const a = document.createElement('a');
            a.style.display = 'none';
            a.href = url;
            a.download = 'modified_file.txt';
            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(url);
            document.body.removeChild(a);
        } else {
            console.error('No file content to process.');
        }
    }
</script>
